<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team YOLO_SANSLAB</title>
</head>
<body>
    <h1> About us </h1>
    <div style="font-weight: bold;">
        <br/>
        <br/>
        Nguyễn Phú Đức
    </div>
    <div>
        Lớp: Điện tử 02-K63 HUST
        <br/>
        <br/>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="img-thumbnail" style="border: 1px solid gray; width: 186px; height: 250px" id="div1" > <img src="./duc.jpg"></div>
            
            
        </div>
        <div style="font-weight: bold;">
            <br/>
            <br/>
            Lê Xuân Vương
        </div>
        <div>
            Lớp: Điện tử 01-K63 HUST
            <br/>
            <br/>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail" style="border: 1px solid gray; width: 251px; height: 250px;"><img src="./vuong.jpg"></div>
            
            
        </div>
        <div style="font-weight: bold;">
            <br/>
            <br/>
            Nguyễn Văn Tuấn
        </div>
        <div>
            Lớp: Điện tử 01-K63 HUST
            <br/>
            <br/>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail" style="border: 1px solid gray; width: 251px; height: 250px"><img src="./tuan.jpg"></div>
            
</body>
</html>